<!-- <span>{{contactId}}</span> -->

<a href = "index.html#/contacts"><input type ="button" value = "Back"/></a><br>
<table border="1" class="table table-bordered" style="width:30%;margin-left: 100px;margin-top:20px;" >
<tr><th>{{contact.first}} {{contact.last}}</th><th>Email</th><th>Phone Number</th></tr>




 <tr>
 <td class="thumbnail">
 <a href="#/contacts/{{contact.id}}" class="thumb"><img ng-src="{{contact.imageUrl}}"></a></td>
<td>Department: {{contact.department}} 
<br> Office: {{contact.office}}
<br> Manager: {{contact.manager}} <br> </td>
<td><a href="mailto:{{contact.first+'.'+contact.last+'@lambtoncollege.ca'}}">Email {{contact.first}}</a><br>
{{'519-542-7751 ext.'+contact.extension}}</td></tr>

